body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px #aaa;
    padding: 20px 120px;
    z-index: 100;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li {
    cursor: pointer;
}

.active {
    color: red;
    font-weight: bold;
}

section, article {
    display: block;
    padding: 0 120px;
    font-size: 20px;
}

article {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 150px 120px;
}

.article-element {
    width: 50%;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

section::before {
    content: "";
    display: block;
    height: 300px;
    background: url("main.jpg") left/top;
}

h4::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: red;
    margin-top: 5px;
}